@{
    Layout = "../Shared/_Root.cshtml";
}

<div class="row">
    <div class="span1">
        @RenderSection("Left", false)
    </div>
    <div class="center span8">
        @RenderBody()
    </div>
    <div class="span3">
        @RenderSection("Right", false)
    </div>
</div>