<aside class="pull-right">
    <p class="navbar-text">Hello stranger :)</p>
    <ul class="nav">
        <li><a href="#">Login</a></li>
        <li><a href="#">Create account</a></li>
    </ul>
</aside>

