# directories
[Bb]in
[Oo]bj
[Dd]ebug*
[Rr]elease*
_[Ss]cripts
*[Rr]e[Ss]harper*
[Tt]est[Rr]esults


# files
[Tt]humbs.db 
*.[Cc]ache
*.user
*.suo
*.bak
*.ncb
*.log 
*.DS_Store
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper

# nuget
packages

