# directories
[Bb]in
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
_[Ss]cripts
*[Rr]e[Ss]harper*


# files
[Tt]humbs.db 
*.[Cc]ache
*.user
*.suo
*.bak
*.ncb
*.log 
*.exe
*.dll
*.nupkg
*.DS_Store
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper

# nuget
.nuget
packages


