@model dynamic
@{
    ViewBag.Title = "teamworks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="projects" data-bind="template: { name: 'project-template', foreach: projects }"></div>

<script type="text/html" id="project-template">
    <section>
        <div>
            <h2><a data-bind="text: name, attr: { href: url }"></a></h2>
            <p data-bind="text: description"></p>
        </div>
    </section>
</script>
