@model dynamic
@{
    ViewBag.Title = "teamworks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-unit">
    <h1>Teamworks</h1>
    <p>a solution for project planning, managing and colaboration</p>
    <p>
    <a class="btn btn-primary btn-large" href="@Url.Action("View", "Projects")">
      Start here »
    </a>
  </p>
</div>