body {
    padding-top: 80px;
    box-sizing: border-box;
}

a { cursor: pointer; }

form { margin-bottom: 0 }

.main { clear: both; }

[class^="icon-"], [class*=" icon-"] { background-image: none; }
[class^="icon-"], [class*=" icon-"] { font-size: 1.3em; }

.hide { display: none !important; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.ident { padding-left: 16px; }
.inline { display: inline-block; }
.center { border-right: 1px solid #ececec; }

.brand {
    font-family: 'Droid Sans Mono', sans-serif;
    font-weight: 700;
}


div.global-messages {
    float: none;
    margin: auto;
    padding-top: 20px;
}

div.global-messages p { margin: 0; }

    .more-options {
    text-align: center;
    padding-top: 10px;
}

.people .dropdown-menu a { clear: none; }

.people .dropdown-menu p {
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
    margin: 0;
}

.people img + div { padding-left: 64px; }
.people .thumbnails > li { margin-left: 8px; }
.people .thumbnails .thumbnail.create { margin: 9px; }

.people input {
    border-style: none none solid none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
}

p.inline { margin-bottom: 0;    }

@media (min-width: 980px) {
    .main {
        margin-left: 40px;
        margin-right: 40px;
    }
}