/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

.navbar .nav > li > a { padding: 10px 20px; }
.navbar .divider-vertical { margin: 0; }

/* Body and structure
-------------------------------------------------- */

body {
    padding-top: 90px;
    position: relative;
}
