/*
Teamwork d3 graphics styling
*/

/* Gantt Chart */

svg rect.gantt_duration_rect {
    fill: #08A;
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0.5;
    stroke-width: 1;
}

svg rect.gantt_duration_rect:hover {
    fill: #08F;
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0.5;
    stroke-width: 1;
}

div.gantt_tooltip {
    border: black 1px solid;
    background-color: #ccc;
    min-width: 175px !important;
    min-height: 20px !important;
    z-index: 1500 !important;
    display: block;
    position: absolute;
    visibility: hidden;    
}

svg text.gantt_text {
    fill: black;
    font-size: 0.9em;
}

svg rect.gantt_duration_rect_red { fill: red; }

svg rect.gantt_duration_rect_yellow { fill: yellow; }

svg rect.gantt_duration_rect_green { fill: green; }

svg text.gantt_rect_text {
    fill: black;
    font-size: 0.8em;
    text-anchor: middle;
    pointer-events: none;
}

.input-xsmall {
    height: 13px !important;
    width: 60px !important; 
}

.input-xxsmall {
    height: 11px !important;
    width: 30px !important;
}
