@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div data-bind="visible: activity.name">
    <header class="page-header">
        <h1>
            <span data-bind="text: activity.name"></span>
            <small data-bind="text: activity.description, visible: activity.description"></small>
        </h1>
    </header>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Duration</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'timelog-template', foreach: activity.timelogs }">
        </tbody>
    </table>
    <script type="text/html" id="timelog-template">
        <tr>
            <td data-bind="text: duration"></td>
            <td data-bind="text: description"></td>
            <td data-bind="text: date"></td>
        </tr>
    </script>

    <script>
        var viewmodel = function() {
            return new tw.viewmodels.Activity('@ViewBag.Endpoint');
        }
    </script>
</div>