@model int
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h1 data-bind="text: name"></h1>
</header>
<article>
    <section>
        <h2>Discussions</h2>
    </section>
</article>
    
<script type="text/html" id="tasks-template">
    <section class="span3">
        <div>
            <h2><a data-bind="text: name, attr: { href: url }"></a></h2>
            <p data-bind="text: description"></p>
            <form class="btn-group" data-bind="submit: $parent.tasks.remove">
                <button class="btn" type="submit" name="remove">Remove</button>
            </form>
        </div>
    </section>
</script>

<script type="text/html" id="discussions-template">
    <section class="span3">
        <div>
            <h2><a data-bind="text: name, attr: { href: url }"></a></h2>
            <p data-bind="text: name"></p>
            <form class="btn-group" data-bind="submit: $parent.discussions.remove">
                <button class="btn" type="submit" name="remove">Remove</button>
            </form>
        </div>
    </section>
</script>

<script>
    var viewmodel = function () {
        var ret = undefined;
        $.ajax(
            '/api/projects/' + @Model,
            {
                async: false,
                type: 'get',
                contentType: 'application/json; charset=utf-8',
                cache: 'false',
                statusCode: {
                    200: /*ok*/ function(data) {
                        ret = new TW.viewmodels.Project(data);
                    },
                    404: /*not found*/ function () {
                        TW.app.messages.push({ message: 'The project you requested doesn\'t exist.' });
                    }
                }                
            }
        );
        return ret;
    }
</script>