@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="chart"></div>

<div data-bind="visible: project.name">
    <header class="page-header">
        <h1>
            <span data-bind="text: project.name"></span>
            <small data-bind="text: project.description, visible: project.description"></small>
        </h1>
    </header>
    <div>
        <!-- Activities -->
        <section class="well-large">
            <header class="lead">
                <h2>Activities <a href="#" class="btn-mini" data-bind="visible: !activity.editing(), click: function() { activity.editing(true); }">One more activity</a></h2>
                <div class="hide" data-bind="css: { hide: !activity.editing() }">
                    <form class="form-horizontal" data-bind="submit: project.activities._create">
                        <div class="control-group inline">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="text" placeholder="Activity name" class="span3" data-bind="value: activity.name, valueUpdate: 'afterkeyup'" />
                                    <input type="text" placeholder="Activity Duration" class="span2" data-bind="value: activity.duration, valueUpdate: 'afterkeyup'" />
                                    <button type="submit" class="btn btn-success">Start activity</button>  
                                </div>
                                <a class="btn-mini" data-bind="click: function() { activity.editing(false) }"><i class="icon-remove"></i></a>                   
                            </div>
                        </div>
                    </form>
                </div>
            </header>
            <div data-bind="template: { name: 'activities-template', foreach: project.activities }"></div>
        </section>
        
        <!-- Discussion -->
        <section class="well-large">
            <header class="lead">
                <h2>Discussion  <a href="#" class="btn-mini" data-bind="visible: !discussion.editing(), click: function() { discussion.editing(true); }">One more discussion</a></h2>
                <div class="hide" data-bind="css: { hide: !discussion.editing() }">
                    <form class="form-horizontal" data-bind="submit: project.discussions._create">
                        <div class="control-group inline">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="text" placeholder="Discussion title" class="span3" data-bind="value: discussion.name" />
                                    <button type="submit" class="btn btn-success">Start discussing</button>  
                                </div>
                            </div>
                        </div>
                        <a class="btn-mini" data-bind="click: function() { discussion.editing(false) }"><i class="icon-remove"></i></a>  
                    </form>
                </div>
            </header>
            <div data-bind="template: { name: 'discussion-template', foreach: project.discussions }"></div>

            <div class="more-options">To create a new discussion you can send an email to  
                <a id="ediscussion" target="_blank" data-bind="attr: { href: 'mailto:' + project.token() }">
                    an email created just for you
                </a>
                <i class="icon-copy"></i>
            </div>
            
           
        </section>
        <script type="text/html" id="activities-template">
            <article class="well-small">
                <div class="pull-right">
                    <ul class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data-bind="click: $parent.project.activities._remove" href="#"><i class="icon-trash"></i> Remover</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>
                        <a data-bind="text: name, attr: { href: '/projects/' + $parent.project.id() + '/activities/' + id() }"></a>
                    </h3>
                    <p data-bind="text: description"></p>
                </div>
            </article>
        </script>
        <script type="text/html" id="discussion-template">
            <article class="well-small">
                <div class="pull-right">
                    <ul class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data-bind="click: $parent.project.discussions._remove" href="#"><i class="icon-trash"></i> Remover</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>
                        <a data-bind="text: name, attr: { href: '/projects/' + $parent.project.id() + '/discussions/' + id() }"></a>
                    </h3>
                    <p data-bind="text: content"></p>
                </div>
            </article>
        </script>
    </div>
    
    <script>
        var viewmodel = function() {
            return new TW.viewmodels.Project('@ViewBag.Endpoint');
        };
    </script>
</div>

@section Right
{
    <section class="people">
        <h2>People</h2>
        <ul class="thumbnails" data-bind="template: { name: 'person-template', foreach: project.people }"></ul>
        <a href="#" class="more-options" data-bind="visible: !people.editing(), click: function() { people.editing(true); }" >Invite another person to join this project</a>
        <div class="row hide" data-bind="css: { hide: !people.editing() }">
            <form class="form-horizontal" data-bind="submit: people._add">
                <div class="well-small">
                    <input autocomplete="off" class="input-block-level" placeholder="Who do you wanto to add" 
                           data-provide="people-typeahead" data-items="4" data-bind="value: people, valueUpdate: 'afterkeyup', event: { select: people._add}" />
                          
                </div>
            </form>
            <form class="form-horizontal" data-bind="submit: project.people._add">
                <div class="well-small">
                    <div>
                        <ul data-bind="foreach: people.list">
                            <li data-bind="text: name"></li>
                        </ul>
                    </div>
                    <button class="btn btn-success" type="submit">Invite</button>
                    <a class="btn-mini" data-bind="click: function() { people.editing(false) }"><i class="icon-remove"></i> Cancel</a>  
                </div>
            </form>
        </div>
        
    </section>
    
    <script type="text/html" id="person-template">
        <li class="dropdown">
            <a class="thumbnail dropdown-toggle inline" data-toggle="dropdown" rel="tooltip-top" data-bind="attr: { href: '#', 'title': name }">
                <img data-bind="attr: { src: gravatar.medium }" />
            </a>               
            <ul class="dropdown-menu well-mini">
                <img class="pull-left" data-bind="attr: { src: gravatar.medium }" />
                <div>
                    <p data-bind="text: username"></p>
                    <h3><a data-bind="text: name"></a></h3>
                    <p data-bind="text: email"></p>
                    <form class="more-options clear-left pull-right" data-bind="submit: $parent.project.people._remove">
                        <button class="btn" type="submit" name="remove">Remove from project</button>
                    </form>
                </div>
            </ul>
        </li>
    </script>
}