@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <header class="page-header">
        <h1 class="inline">All Projects
            <a href="#" class="btn-mini" data-bind="visible: !project.editing(), click: function() { project.editing(true); } ">Create a new project</a>
        </h1>
        
        <div class="inline hide" data-bind="css: { hide: !project.editing() }">
            <form class="form-horizontal" data-bind="submit: projects._create">
                <div class="control-group inline" data-bind="css: { error: project.name.has_error }">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <div class="input-append">
                            <input name="name" type="text" class="span3" placeholder="Project name" data-bind="value: project.name, valueUpdate: 'afterkeyup'" />
                            <button type="submit" class="btn" data-bind="disable: project.name.has_error, css: { 'btn-success': !project.name.has_error(), 'btn-danger': project.name.has_error }">Start working</button>  
                                
                        </div>
                        <a type="submit" class="help-inline" data-bind="click: function() { project.editing(false) }"><i class="icon-remove"></i></a>  
                    </div>
                </div>
            </form>
        </div>
    </header>
    <div data-bind="template: { name: 'project-template', foreach: projects }"></div>

    <script type="text/html" id="project-template">
        <article class="well-small">
            <ul class="nav nav-pills pull-right">
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a data-bind="click: $parent.project.activities._remove" href="#"><i class="icon-trash"></i> Remover</a></li>
                </ul>
                <li>
            </ul>
            <a data-bind="attr: { href: '/projects/' + id() }">
                <h2>
                    <span data-bind="text: name"></span>
                    <small data-bind="text: description"></small>
                </h2>
            </a>
        </article>
    </script>

    <script>
        var viewmodel = function() {
            return new TW.viewmodels.Projects('@Model');
        }
    </script>
</div>