@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span8">
        <header class="page-header">
            <h1>Projects
                <small>Here are listed your projects</small>
            </h1>
        </header>
        <div data-bind="template: { name: 'project-template', foreach: projects }"></div>
        <script type="text/html" id="project-template">
            <div>
                <button class="close" data-bind="click: $parent.projects._remove">&times;</button>
                <a data-bind="attr: { href: '/projects/' + id() }">
                    <h3>
                        <span data-bind="text: name"></span>
                        <small data-bind="text: description"></small>
                    </h3>
                </a>
            </div>
        </script>
    </div>
    <div class="span4">
        <div class="lead">
            <h3>New project
                <small>
                    <a href="#" class="" data-bind="visible: !editing(), click: function() { editing(true); } ">Create a new project</a>
                </small>
            </h3>
        </div>
        <div class="hide" data-bind="css: { hide: !editing() }">
            <form class="form-horizontal" data-bind="submit: projects._create">
                <div class="control-group">
                    <input name="name" autofocus="autofocus" class="span3" placeholder="Project name" data-bind="value: name, valueUpdate: 'afterkeyup'" />
                </div>
                <div class="control-group">
                    <button type="submit" class="btn" data-bind="disable: name.has_error, css: { 'btn-success': !name.has_error(), 'btn-danger': name.has_error }">Start working</button>  
                    <a type="submit" class="help-inline" data-bind="click: function() { project.editing(false) }"><i class="icon-remove"></i></a>  
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var viewmodel = function () {
        return new TW.viewmodels.Projects('@ViewBag.Endpoint');
    }
</script>