@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" data-bind="visible: project.name">
    <div class="span9" >
        <header>
            <h1>
                <span data-bind="text: project.name"></span>
                <small> <i class="icon-edit"></i> <span data-bind="text: project.description, visible: project.description"></span></small>
            </h1>
        </header>
    
        <!-- Activities -->
        <section>
            <div class="page-header">
                <h2>Activities 
                    <small>
                        <a class="hide btn-mini" data-bind="css: { hide: activity.editing()}, click: function() { activity.editing(true); }">One more activity</a>
                    </small>
                </h2>
                <div class="hide" data-bind="css: { hide: !activity.editing() }">
                    <form class="well form-inline" data-bind="submit: project.activities._create">
                        <label for="activity_name">Name</label>
                        <input id="activity_name" name="name" autofocus="autofocus" placeholder="Activity name" data-bind="value: activity.name, valueUpdate: 'afterkeyup'" />
                        <button type="submit" class="btn btn-success">Create</button>  
                        <a class="btn-mini" data-bind="click: function() { activity.editing(false) }"><i class="icon-remove"></i></a>                   
                    </form>
                </div>
            </div>
            <!-- ko template: { name: 'activities-template', foreach: project.activities } -->
            <!-- /ko -->
            <script type="text/html" id="activities-template">
                <div>
                    <h3>
                        <a data-bind="text: name, attr: { href: '/projects/' + $parent.project.id() + '/activities/' + id() }"></a>
                    </h3>
                    <p data-bind="text: description"></p>
                </div>
            </script>
        </section>
        <!-- Discussion -->
        <section>
            <div class="page-header">
                <h2>Discussion
                    <small>
                        <a class="hide btn-mini" data-bind="css: { hide: discussion.editing()}, click: function() { discussion.editing(true); }">One more discussion</a>
                    </small>
                </h2>
                <div class="hide" data-bind="css: { hide: !discussion.editing() }">
                    <form class="well form-inline" data-bind="submit: project.discussions._create">
                        <label for="discussion_name">Name</label>
                        <input id="discussion_name" name="name" autofocus="autofocus" placeholder="Discussion name" data-bind="value: discussion.name, valueUpdate: 'afterkeyup'" />
                        <button type="submit" class="btn btn-success">Create</button>  
                        <a class="btn-mini" data-bind="click: function() { discussion.editing(false) }"><i class="icon-remove"></i></a>                   
                    </form>
                </div>
            </div>
            <!-- ko template: { name: 'discussion-template', foreach: project.discussions } -->
            <!-- /ko -->
            <div class="more-options">To create a new discussion you can send an email to  
                <a id="email_discussion" target="_blank" data-bind="attr: { href: 'mailto:' + project.token() }">
                    an email created just for you
                </a>
                <i class="icon-copy"></i>
            </div>
            <script type="text/html" id="discussion-template">
                <div>
                    <h3>
                        <a data-bind="text: name, attr: { href: '/projects/' + $parent.project.id() + '/discussions/' + id() }"></a>
                    </h3>
                    <p data-bind="text: content"></p>
                </div>
            </script>
        </section>
    

    </div>
    <div class="span3">
        <h2>People</h2>
        <div class="people">
            <ul class="thumbnails" data-bind="template: { name: 'person-template', foreach: project.people }"></ul>
            <a href="#" class="more-options" data-bind="visible: !people.editing(), click: function() { people.editing(true); }" >More members</a>
            <div class="hide" data-bind="css: { hide: !people.editing() }">
                <form class="form-horizontal" data-bind="submit: people._add">
                    <input autocomplete="off" placeholder="Who do you wanto to add" 
                           data-items="4" data-bind="valueUpdate: 'afterkeyup', typeahead: { endpoint: '/api/people' }" />
                </form>
                <form class="form-horizontal" data-bind="submit: project.people._add">
                    <div>
                        <ul data-bind="foreach: people.list">
                            <li data-bind="text: name"></li>
                        </ul>
                    </div>
                    <button class="btn btn-success" type="submit">Invite</button>
                    <a class="btn-mini" data-bind="click: function() { people.editing(false) }"><i class="icon-remove"></i></a>  
                </form>
            </div>
        </div>
        
        <script type="text/html" id="person-template">
            <li class="dropdown">
                <a class="thumbnail dropdown-toggle" data-toggle="dropdown" rel="tooltip-top" data-bind="attr: { href: '#', 'title': name }">
                    <img data-bind="attr: { src: gravatar.medium }" />
                </a>               
                <ul class="dropdown-menu well-mini">
                    <img class="pull-left" data-bind="attr: { src: gravatar.medium }" />
                    <div>
                        <p data-bind="text: username"></p>
                        <h3><a data-bind="text: name"></a></h3>
                        <p data-bind="text: email"></p>
                        <a class="btn pull-right pull-down" href="#" data-bind="click: $parent.project.people._remove">Remove</a>
                    </div>
                </ul>
            </li>
        </script>
        <br/>
        <h2>Actions</h2>
    
    </div>
</div>

<script>
    var viewmodel = function() {
        return new TW.viewmodels.Project('@ViewBag.Endpoint');
    };
</script>