@using Teamworks.Web.Models
@model ProjectModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="jumbotron subhead">
    <h1>@Model.Name <small>@Model.Description</small></h1>
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li><a href="#tasks">n tasks</a></li>
            <li><a href="#todos">n todos</a></li>
            <li><a href="#messages">n messages</a></li>
        </ul>
    </div>
    <div class="modal hide" id="task-modal">
        <div class="modal-header">
            <h1>Create a Task</h1>    
        </div>
        <div class="modal-body">
            <form class="form-inline" data-bind="submit: create">
                <input class="input-medium" name="name" placeholder="Name your task" data-bind="value: task.name, valueUpdate: 'afterkeyup'" />
                <input class="input-large" name="description" placeholder="Describe your task" data-bind="value: task.description, valueUpdate: 'afterkeyup'" />
                <button class="btn" type="submit">Create</button>
            </form>
        </div>
    </div>

</header>
<section id="tasks">
    <div class="page-header">
        <h1>Tasks</h1>
    </div>
    <div class="row">
        <div class="span6">
            @{
                if (Model.Tasks.Count == 0)
                {
                    <p>Create your first task <a data-toggle="modal" href="#task-modal"><i class="icon-plus-sign"></i></a></p>
                }
                else
                {
                    <p>Add task <a data-toggle="modal" href="#task-modal"><i class="icon-plus-sign"></i></a></p>
                    <ul data-bind="foreach: tasks">
                       
                            <li>
                                <a href="" data-bind="attr: { href: url }"><span data-bind="text: name"></span> - <span data-bind="text: description"></span></a> </li>
                    </ul>
                }

            }
        </div>
    </div>
</section>
<section id="todos">
    <div class="page-header">
        <h1>Todos</h1>
    </div>
    <div class="row">
        
    </div>
</section>
<section id="messages">
    <div class="page-header">
        <h1>Messages</h1>
    </div>
    <div class="row">
        
    </div>
</section>
<script type="text/javascript" language="javascript">
    var projectid = @Model.Id;
</script>
