@using Teamworks.Web.Helpers.Extensions
@model IEnumerable<Teamworks.Web.Models.DryProjectModel>
@{
    ViewBag.Title = "projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="project_list">
    <header id="create_project" class="span12 row">
        <h1>Your current projects <a data-toggle="modal" href="#project-modal"><i class="icon-plus-sign"></i></a></h1>
        <div class="modal hide" id="project-modal">
            <div class="modal-header">
                <h1>Create a project</h1>    
            </div>
            <div class="modal-body">
                <form class="form-inline" data-bind="submit: create">
                    <input class="input-medium" name="name" placeholder="Name your project" data-bind="value: project.name, valueUpdate: 'afterkeyup'" />
                    <input class="input-large" name="description" placeholder="Describe your project" data-bind="value: project.description, valueUpdate: 'afterkeyup'" />
                    <button class="btn" type="submit">Start working</button>
                </form>
            </div>
        </div>
    </header>
    <article id="projects_list" class="row span12">
        <div class="thumbnails" data-bind="template: { name: 'project-template', foreach: projects }"></div>
    </article>
    <script type="text/html" id="project-template">
        <section class="span3">
            <div>
                <h2><a data-bind="text: name, attr: { href: url }"></a></h2>
                <p data-bind="text: description"></p>
                <form class="btn-group" data-bind="submit: $parent.remove">
                    <button class="btn" type="submit" name="remove">Remove</button>
                </form>
            </div>
        </section>
    </script>
    <script>
        var data = @Html.Raw(Model.ToJson());
    </script>
</div>