@model IEnumerable<Teamworks.Web.Models.DryModels.DryProject>

@{
    ViewBag.Title = "All Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <div class="pull-right">
        <a href="#" data-bind="visible: !editable(), click: function() { editable(true); } "><i class="icon-plus"></i></a>
    </div>
    <h1>All Projects</h1>
</header>
<div class="clearfix hide" data-bind="css: { hide: !editable() }">
    <form class="form-horizontal" data-bind="submit: create">
        <input type="text" class="control-group input-xlarge" placeholder="Project name" data-bind="value: project.name, valueUpdate: 'afterkeyup'" />
        <input type="text" class="control-group input-xlarge" placeholder="Project description" data-bind="value: project.description, valueUpdate: 'afterkeyup'" />
        <div class="btn-group control-group pull-right ">
            <button type="submit" class="btn btn-success">Start working</button>  
            <button type="button" class="btn" data-bind="click: function() { editable(false) }"><i class="icon-remove"></i></button>  
        </div>
    </form>
</div>
<article data-bind="template: { name: 'project-template', foreach: projects }"></article>


<script type="text/html" id="project-template">
    <section class="project clearfix">
        <form class="btn-group form-inline pull-right" data-bind="submit: $parent.remove">
            <button class="btn btn-small btn-danger" type="submit" name="remove">Remove</button>
        </form>
        <h1 class="inline lead"><a data-bind="text: name, attr: { href: '/projects/' + id() }"></a></h1>
        <span class="inline" data-bind="text: description"></span>
    </section>
</script>

<script>
    var viewmodel = function() {
        return new TW.viewmodels.Projects();
    }
</script>