@model IEnumerable<Teamworks.Web.Models.DryModels.DryProjectModel>

@{
    ViewBag.Title = "projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="span2 thumbnails">
    <div class="thumbnail" style="background-color: yellow"></div>
</div>
<div id="viewmodel-projects" class="span8">
    <header>
        <h1>all projects</h1>
    </header>
    <article data-bind="template: { name: 'project-template', foreach: projects }"></article>
</div> 
<div class="span1">
    <ul class="thumbnails">
        <li class="span1"><a class="thumbnail">Projects</a></li>
        <li class="span1"><a class="thumbnail">Timeline</a></li>
        <li class="span1"><a class="thumbnail">Everybody</a></li>
    </ul>
</div>

    

<script type="text/html" id="project-template">
    <section>
        <div>
            <span><a data-bind="text: name"></a></span>
            <span data-bind="text: description"></span>
            <form class="btn-group" data-bind="submit: $parent.remove">
                <button class="btn" type="submit" name="remove">Remove</button>
            </form>
        </div>
    </section>
</script>