@using Teamworks.Web.Helpers.Extensions
@model Teamworks.Web.Models.TaskModel

@{
    ViewBag.Title = "timeEntryModels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="task">
    <header class="span12 row">
        <h1>
            Task work time log <a data-toggle="modal" href="#timelog-modal"><i class="icon-plus-sign">
            </i></a>
        </h1>
        <div class="modal hide" id="timelog-modal">
            <div class="modal-header">
                <h1>
                    Register your time</h1>
            </div>
            <div class="modal-body">
                <form class="form-inline" data-bind="submit: create">
                <input class="input-medium" name="description" placeholder="What you did" data-bind="value: timelog.description, valueUpdate: 'afterkeyup'" />
                <input id="datein" type="date" class="input-medium" name="date" placeholder="When you did it" data-bind="value: timelog.date, valueUpdate: 'afterkeyup'" />
                <input class="input-medium" name="duration" placeholder="How long it took" data-bind="value: timelog.duration, valueUpdate: 'afterkeyup'" />
                <button class="btn" type="submit">
                    Add</button>
                </form>
            </div>
        </div>
    </header>
    <article class="row span12">
        <ul>
            <div class="thumbnails" data-bind="template: { name: 'timelog-template', foreach: timelog_list }">
            </div>
        </ul>
    </article>
    <script type="text/html" id="timelog-template">
            <li>
        <section class="span3">
                <div data-bind="text: description"></div>
                <div data-bind="text: date"></div>
                <div><span  data-bind="text: duration"></span> hours</div>
                <form class="btn-group" data-bind="submit: $parent.remove">
                    <button class="btn" type="submit" name="remove">Remove</button>
                </form>
        </section>
            </li>
    </script>
    <script type="text/javascript">
        var data = @Html.Raw(Model.ToJson());
    </script>
</div>
