@using Teamworks.Web.Helpers.Extensions
@using Teamworks.Web.Helpers.Teamworks
@model Teamworks.Web.Models.TaskModel

@{
    ViewBag.Title = "timeEntryModels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="task">
    <header class="span12 row">
        <h1>
            Task work time log <a data-toggle="modal" href="#time-modal"><i class="icon-plus-sign">
            </i></a>
        </h1>
        <div class="modal hide" id="task-modal">
            <div class="modal-header">
                <h1>
                    Register your time</h1>
            </div>
            <div class="modal-body">
                <form class="form-inline" data-bind="submit: create">
                <input class="input-medium" name="description" placeholder="What you did" data-bind="value: timelog.description, valueUpdate: 'afterkeyup'" />
                <input id="hdate" hidden="true" data-bind="value: timelog.date, valueUpdate: 'afterkeyup'" />
                <input type="date" class="input-medium" name="date" placeholder="When you did" />
                <input class="input-medium" name="duration" placeholder="How long it took" data-bind="value: timelog.duration, valueUpdate: 'afterkeyup'" />
                <button class="btn" type="submit">
                    Add</button>
                </form>
            </div>
        </div>
    </header>
    @*<article class="row span12">
        <div class="thumbnails" data-bind="template: { name: 'task-template', foreach: tasks }">
        </div>
    </article>
    <script type="text/html" id="task-template">
        <section class="span3">
            <div>
                <h2><a data-bind="text: name, attr: { href: url }"></a></h2>
                <p data-bind="text: description"></p>
                <div data-bind="template: { name: 'task-template', foreach: tasks }"></div>
                <form class="btn-group" data-bind="submit: $parent.remove">
                    <button class="btn" type="submit" name="remove">Remove</button>
                </form>
            </div>
        </section>
    </script>
*@
    <script type="text/javascript">
    var data = @Html.Raw(Model.ToJson())
    </script>
</div>
