@using Teamworks.Web.Helpers.Extensions
@using Teamworks.Web.Helpers.Teamworks
@model Teamworks.Web.Models.TaskModel

@{
    ViewBag.Title = "timeEntryModels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="task">
    <header class="span12 row">
        <h1>
            Task work time log <a data-toggle="modal" href="#time-modal"><i class="icon-plus-sign">
                                                                         </i></a>
        </h1>
        <div class="modal hide" id="task-modal">
            <div class="modal-header">
                <h1>
                    Register your time</h1>
            </div>
            <div class="modal-body">
                <form class="form-inline" data-bind="submit: create">
                    <input class="input-medium" name="description" placeholder="What you did" data-bind="value: timelog.description, valueUpdate: 'afterkeyup'" />
                    <input id="hdate" hidden="true" data-bind="value: timelog.date, valueUpdate: 'afterkeyup'" />
                    <input type="date" class="input-medium" name="date" placeholder="When you did it[dd/mm/yyyy]" />
                    <input class="input-medium" name="duration" placeholder="How long it took (minutes)" data-bind="value: timelog.duration, valueUpdate: 'afterkeyup'" />
                    <button class="btn" type="submit">
                        Add</button>
                </form>
            </div>
        </div>
    </header>
    <script type="text/javascript">
    var data = @Html.Raw(Model.ToJson())
    </script>
</div>
