@model Teamworks.Web.ViewModels.Mvc.PersonViewModel

<aside class="account btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i>
        @Model.Name
    </a>
    <div class="dropdown-menu">
        <div class="well-small overflow">
            <div class="pull-left">
                <img class="" src="@(Model.Gravatar + "&s=64")" alt="Profile image"/>  
            </div>
            <div class="pull-right">
                <a href="@Url.RouteUrl("profiles_get", new { id = UrlParameter.Optional })">Profile</a>
            </div>
        </div>
        <div class="form-actions">
            <a class="btn" href="@Url.RouteUrl("default", new {controller = "Account", action = "Logout"})">Logout</a>
        </div>
    </div>
</aside>