/* =============================================================================
   Customized
   ========================================================================== */

.container a { text-decoration: none; }
.container > header .logo { opacity: .5; }
.container > header .logo:hover { opacity: 1; }

.container > header nav ul { overflow: hidden; margin-top: 50px; }
.container > header nav ul li { opacity: .5; }
.container > header nav ul li:hover { opacity: 1; }
.container > header nav ul li.separator { border-left: 1px solid #cecece; height: 20px; }
.container > header nav ul li.active { font-weight: 700; }
.container > header nav ul li a { padding: 0 5px; }

.container > header .identity { position: absolute; right: 4px; top: 0; font-size: 12px; border: none; padding: 0; }
.container > header .identity a { padding: 8px; }

section h2 { color: #8fbe00 }