@using Teamworks.Web.Controllers
@using Teamworks.Web.Helpers.Extensions
@using Teamworks.Web.ViewModels.Mvc
@model DiscussionViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span8">
        <div class="discussions">
            @Html.Breadcrumb(ViewBag.Breadcrumb as AppController.Breadcrumb[])
            <header class="page-header">
                <div class="row">
                    <div class="span6"><h1 data-bind="text: name"></h1></div>
                    <button class="btn pull-right" data-bind="html: !watching() ? '<i class=\'icon-eye-open\'></i> Watch' : '<i class=\'icon-eye-close\'></i> Unwatch', click: toggleWatch"></button>
                </div>
                <p data-bind="text: content"></p>
            </header>
            <div data-bind="template: { name: 'message-template', foreach: messages }">
            </div>
            <form class="form-horizontal" data-bind="submit: messages._create">
                <div class="control-group">
                    <textarea class="span8" data-bind="value: messages.input, valueUpdate: 'afterkeyup'"></textarea>
                </div>
                <div class="control-group">
                    <button type="submit" class="btn btn-success">Reply</button>                 
                </div>
            </form>
        </div>
    </div>
    <div class="span4">
        <h2>Participants</h2>
        <div class="people">
            <div class="hide" data-bind="css: {hide: people().length > 0}">No participants.</div>
            <ul class="thumbnails" data-bind="template: { name: 'people-template', foreach: people}"></ul>
        </div>
    </div>
</div>

<script type="text/html" id="people-template">
    <li class="dropdown">
        <a class="thumbnail dropdown-toggle" data-toggle="dropdown" rel="tooltip-top" href="#" data-bind="title: name">
            <img data-bind="attr: { src: gravatar }" />
        </a>               
        <div class="dropdown-menu well-small">
            <img class="pull-left" data-bind="attr: { src: gravatar, alt: name }"/>
            <div>
                <h3 class="lead">
                    <a data-bind="attr: { href: '@Url.RouteUrl("profiles_get")' + id() }, text: name"></a>
                </h3>
                <div data-bind="text: username"></div>
            </div>
        </div>
    </li>
</script>
<script type="text/html" id="message-template">
    <div class="row">
        <div class="span8 message">
            <h3>
                <a data-bind="attr: { href: '@Url.RouteUrl("profiles_get")' + id() }">
                    <span data-bind="text: person.name"></span>
                    <small data-bind="text: '@@' + person.username()"></small>
                </a>
            </h3>
            <div>
                <p data-bind="text: content"></p>
            </div>
            <div class="pull-left"><p data-bind="text: date, attr: { title: date }, timeago: ''"></p></div>
            <button class="close " data-bind="visible: editable, click: _remove"><i class="icon-trash"></i></button>
        </div>
    </div>
</script>
    
<script>
    var viewmodel = function() {
        return tw.pages.DiscussionViewModel(@Html.ToJson(Model));
    };
</script>

@*<div class="modal fade hide" id="editMessageModal" tabindex="-1" role="dialog">
    <form class="form-horizontal"  data-bind="submit: _update" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: discussions.input.reset">×</button>
            <h3>Edit Message</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="activity_name">Name</label>
                <div class="controls">
                    <input id="discussion_name" name="discussion_name" autofocus="autofocus" placeholder="Discussion title" data-bind="value: discussions.input.name, valueUpdate: 'afterkeyup'" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="activity_description">Description</label>
                <div class="controls">
                    <textarea  id="discussion_description" name="discussion_description" placeholder="Message" data-bind="value: discussions.input.content, valueUpdate: 'afterkeyup'"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Save</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: discussions.input.reset">Close</button>
        </div>
    </form>
</div>*@