@model string

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="content" data-bind="visible: discussion.name">
    <header class="page-header">
        <h1 data-bind="text: discussion.name"></h1>
        <p class="span6" data-bind="text: discussion.content"></p>
    </header>
    <article data-bind="template: { name: 'messages-template', foreach: discussion.messages }">
    </article>
    
    <script type="text/html" id="message-template">
        
    </script>
    
    <script>
        var viewmodel = function () {
            return new TW.viewmodels.Discussion('@Model');
        }
    </script>
</div>

    

