@model string

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div data-bind="visible: discussion.name">
    <header class="page-header">
        <h1 data-bind="text: discussion.name"></h1>
        <p class="span6" data-bind="text: discussion.content"></p>
    </header>
    <div data-bind="template: { name: 'message-template', foreach: discussion.messages }">
    </div>
    
    <div class="clear-left">
        <form class="form-horizontal" data-bind="submit: discussion.messages.create">
            <div class="control-group">
                <textarea class="span6" data-bind="value: message.content, valueUpdate: 'afterkeyup'">
                </textarea>
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-success">Reply</button>                 
            </div>
        </form>
    </div>

    <script type="text/html" id="message-template">
        <div class="well-small row-fluid clear-left">
            <h3 class="inline" data-bind="text: person.name"></h3>
            <small> @@ <span data-bind="text: date"></span></small>
            <p data-bind="text: content"></p>
        </div>
    </script>
    
    <script>
        var viewmodel = function() {
            return new TW.viewmodels.Discussion('@Model');
        }
    </script>
</div>