@model string

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="content" data-bind="visible: discussion.name">
    <header class="page-header">
        <h1 data-bind="text: discussion.name"></h1>
        <p class="span6" data-bind="text: discussion.content"></p>
    </header>
    <article data-bind="template: { name: 'messages-template', foreach: discussion.messages }">
    </article>
    
    <div class="clearfix span12">
        <form class="form-horizontal" data-bind="submit: discussion.messages.create">
            <div class="control-group">
                <textarea class="span6" data-bind="value: message.content, valueUpdate: 'afterkeyup'">
                </textarea>
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-success">Reply</button>                 
            </div>
        </form>
    </div>

    <script type="text/html" id="messages-template">
        <section class="clearfix">
            <p class="inline" data-bind="text: content"></p>
        </section>
    </script>
    
    <script>
        var viewmodel = function() {
            return new TW.viewmodels.Discussion('@Model');
        }
    </script>
</div>