@model Teamworks.Web.Models.Api.Person

@{
    ViewBag.Title = "Person";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="well-small">
    <div>ID: @Model.Id</div>
    <div>Name: @Model.Name</div>
    <div>Username: @Model.Username</div>
    <div>Email: @Model.Email</div>
</div>