@using Teamworks.Web.ViewModels.Api
@model IEnumerable<PersonViewModel>
@{
    ViewBag.Title = "People";
    Layout = "../Shared/_Layout.cshtml";
}
<ul class="unstyled">
    @foreach (var person in Model)
    {
        <li><a href="/@person.Id">@person.Name</a></li>
    }
</ul>