@using Teamworks.Web.Models.Api
@model IEnumerable<Teamworks.Web.Models.Api.Person>
@{
    ViewBag.Title = "People";
    Layout = "../Shared/_Layout.cshtml";
}
<ul class="unstyled">
    @foreach (Person person in Model)
    {
        <li><a href="/@person.Id">@person.Name</a></li>
    }
</ul>