@model Teamworks.Web.ViewModels.Mvc.AccountViewModel.Register

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Root.cshtml";
}

<div class="row">
    <div class="offset1 span10">
        <header class="page-header">
            <h1>
                Register
            </h1>
            <p>With a Teamworks account you track all of your projects in one place.</p>
        </header>
        <div class="row">
            <div class="span6">
                <form  method="post" class="form-horizontal" action="@Url.Action("Register", "Account")">
                    @Html.ValidationSummary()
                    <div class="control-group">
                        <input name="name" placeholder="Name" />
                    </div>
                    <div class="control-group">
                        <input name="username" placeholder="Username" />
                    </div>
                    <div class="control-group">
                        <input name="email" placeholder="Email" />
                    </div>
                    <div class="control-group">
                        <input  name="password" placeholder="Insert your password here" type="password" />
                    </div>
                    <div>
                        <button class="btn btn-success" type="submit" value="signup">Register</button>
                
                    </div>
                </form>
            </div>
            <div class="span4">
                <h3>Already Have an Account?</h3>
                <div>If you already have a password, please @Html.ActionLink("Sign In", "Index", "Account").</div>
                <br>
                <h3>External services</h3>
                <div>Do you already have an account on one of these sites? Click the logo to log in with it here:</div>
                <br>
                <ul class="thumbnails">
                    <li class="span1">
                        <a class="thumbnail" href="@Url.Action("OpenId", "Account", new { provider = "https://www.google.com/accounts/o8/id" })">
                            <img src="~/Content/img/google.png" alt="google openid"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>