@model dynamic

@{
    ViewBag.Title = "Signup";
    Layout = "../Shared/_Layout.cshtml";
}

<div>
    <form  method="POST" action="@Url.Action("Signup", "Account")"  class="form-inline control-group" name="register">
        <input name="username" placeholder="Username"/>
        <input name="email" placeholder="Email"/>
        <input name="password" placeholder="Password" type="password"/>
        <button class="btn btn-small" type="submit" value="register">Signup</button>
    </form>
</div>
