@model dynamic
@{
    ViewBag.Title = "teamworks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <form  method="POST" action="~/Account/Index"  class="form-inline control-group" name="login">
        <input name="username" placeholder="Username"/>
        <input name="password" placeholder="Password" />
        <button class="btn btn-small" type="submit" value="login">Login</button>
    </form>
</header>